body{
    background-color: rgb(218, 218, 218);
}
.tituloSite{
    font-family: "Roboto Mono", monospace;
    color: rgb(232, 77, 77);
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize  ;

}   
.Ceo{
    
    background-color: rgb(92, 92, 92);
    width: 150px;
    height: 150px;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    
}
.h2Ceo{
    text-align: center;
    transition: 0.2s ease-in-out;
}
.Ceo:hover{
    transform: scale(1.1);
    background-color: rgb(74, 74, 74);

}
.Diretor{
    background-color: rgb(92, 92, 92);
    width: 150px;
    height: 150px;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
}

.h2Diretor{
    text-align: center;
    transition: 0.2s ease-in-out;
}




.Diretor1{
    background-color: rgb(92, 92, 92);
    width: 150px;
    height: 150px;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
}
.Diretor1:hover{
    transform: scale(1.1);
    background-color: rgb(74, 74, 74);
}
.h2Diretor1{
    text-align: center;
    transition: 0.2s ease-in-out;

}

.Diretor2{
    background-color: rgb(92, 92, 92);
    width: 150px;
    height: 150px;
    border-radius: 20px;
    cursor: pointer;
    position:absolute;

}
.h2Diretor2{
    text-align: center;
    transition: 0.2s ease-in-out;
}
.Diretor2:hover{
    transform: scale(1.1);
    background-color: rgb(74, 74, 74);

}